* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  height: 90%;
}

body {
  height: 90%;
  margin: 0;
}

.navbar {
  height: 5%;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: lightgray;
  height: 5%;
}

.footer a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

li a {
  color: rgba(0, 0, 0, 0.5);
}

li a:visited {
  color: rgba(0, 0, 0, 0.5);
}

li a:hover {
  color: rgba(0, 0, 0, 0.75);
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 80%;
}

.logo {
  width: auto;
  margin-bottom: 20px;
}

.text-input {
  width: 50%;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.text-input:hover {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.text-input:focus-within {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.button-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}

button {
  height: 30px;
  border-radius: 5px;
  width: 175px;
  height: 40px;
  margin: 10px;
}
